<section>
    <h3>whoami</h3>
    <ul>
        <li>lloyd benson (lloyd.benson@gmail.com)</li>
        <li><a href="https://github.com/lloydbenson">lloydbenson</a>@github</li>
        <li><a href="https://twitter.com/LloydWith2Ls">LloydWith2Ls</a>@twitter</li>
        <li>hapi core node team</li>
        <li>author <a href="http://bleedingedgepress.com/developing-a-hapi-edge">(Developing a hapi Edge)</a></li>
        <li>many hats (devops/architect/sysadmin/developer/gluer)</li>
        <li>the person that did the walmart black friday node release</li>
    </ul>
</section>
